<div class="example-container">

  <mat-card>
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" class="form-container">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="loginForm.username" name="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" password [(ngModel)]="loginForm.password" name="password">
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </mat-card>

</div>
