<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-raised-button routerLink="/">Social WebApp</button>
    <span>
      <span [hidden]="isLogged()">
        <button mat-raised-button routerLink="/login">Login</button>
        <button mat-raised-button routerLink="/register">Register</button>
      </span>
      <span [hidden]="!isLogged()">
        <button mat-raised-button routerLink="/profile">
          <img class="profile-picture-icon" src="{{profilePicUrl}}"/>
          {{firstName}} {{lastName}}
        </button>
        <button mat-raised-button (click)="logout()">Logout</button>
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
